html, body {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
nav{
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: space-around;
}
ul.navbar-list{
    display: flex;
    width: 100%;
    height: 100%;
}
li.navbar-entry{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    border: 2px solid black;
    border-radius: 0.5rem;
    margin: 0.5rem;
}
li.navbar-entry:hover{
    background-color: black;
}
a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: system-ui;
    font-weight: 700;
    font-size: 1rem;
    height: 100%;
}
.posted-message-space{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
div.user-list-space{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

ul.user-list{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    border: 2px solid blue;
}

li.user-entry {
    width: 25%;
    height: 30%;
    border: 0.25rem solid black;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
}

li.user-entry>p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    width: 100%;
    height: 100%;
    height: auto;
    text-align: center;
    margin-block: 0.5rem;
}

p.user-id {
    font-weight: 800;
}

p.user-name {
    font-size: 1.5rem;
    font-weight: 600;
}
p.user-email{
    font-size: 75%;
    height: 10%;
    width: 50%;
}
form.button-only{
    margin: 0.25rem;
}
button.update-user, button.delete-user{
    width: 25%;
    height: 100%;
    border-radius: 0.25rem;
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.message-bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 35%;
    height: 35%;
    border: 2px solid black;
    border-radius: 2rem;
    padding: 1.5rem;
    margin: 1rem;
    background-color: rgb(255, 243, 134);
}
.message-bubble>*{
    font-family: system-ui;
    width: 100%;
    display: flex;
}
.message-bubble-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 20%;
}
.open-message{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15%;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 0.25rem;
    margin: 1rem;
    cursor: pointer;
    background-color: rgb(117, 106, 1);
    color: white;
    font-weight: 900;
}
.username{
    text-decoration: underline;
    height: 100%;
}
.text-message{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 700;
    height: 50%;
}
.date-added{
    font-size: 75%;
    position: relative;
    left: 30%;
    height: 10%;
    width: 50%;
}
.back-to-board{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 7.5%;
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    background-color: rgb(250, 243, 183);
}