<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <%- include("partials/errors.ejs") %>
    <%- include('partials/navbar.ejs', {links: links}) %>
    <h1>Home Page</h1>
  </body>
</html>
