<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log In</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include("partials/errors.ejs") %>  
  <% if (locals.user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <a href="/logout">LOG OUT</a>
  <% } else { %>    
    <h1>Please Log In</h1>
    <form action="/" method="GET">
        <button type="submit">Back to Home</button>
    </form>
    <form action="/login" method="POST">
      <label for="username">Username</label>
      <input id="username" name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <button type="submit">Log In</button>
    </form>
    <form action="/signup" method="GET">
        <span>No account yet?  </span>
        <button type="submit">Sign Up</button>
    </form>
  <%}%>
</body>
</html>
