<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
    <a href="/new">Create a user</a>
    <a href="/">Back to Users Database</a>
  <h2>Successfully deleted all users.</h2>
</body>
</html>