html, body {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
nav.menu-filter{
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: space-around;
}
ul.menu-filter-list{
    display: flex;
    width: 100%;
    height: 50%;
}
li.menu-filter-entry{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    border: 2px solid black;
    border-radius: 0.5rem;
    margin: 0.5rem;
    text-decoration: none;
}
li.menu-filter-entry:hover{
    background-color: rgb(249, 246, 155);
    text-decoration: underline;
}
a.menu-filter-entry-link{
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
a.menu-filter-entry-link:hover{
    text-decoration: underline;
}
div.menu-category-space{
    max-width: 100vw;
    height: 100vh;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(50%, auto); 
    gap: 0.75rem;
    padding: 0.75rem;
}
/* Product Card */
div.product-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgb(128, 128, 128);    
    background-color: rgb(255, 227, 167);
    padding: 1.25rem;
    margin: 1.25rem;
}
img.product-image{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
div.product-info-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 100%;
    height: 35%;
    padding: 0.25rem;
    overflow: hidden;
}
h2.product-title{
    font-size: 1rem;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    margin-top: 0.25rem;
}
p.product-description{
    display: flex;
    flex-wrap: wrap;
    font-size: calc(0.75rem - 0.10rem);
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    line-height: 0.5rem;
}
div.price-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 7.5%;
}
button.add-to-cart{
    margin: 0.25rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    width: 12.5%;
    height: 75%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
button.button-icon-and-text{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
img.button-icon-and-text-img{
    width: 100%;
}
/*span.button-icon-and-text-text{
    font-size: 0.75rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
span.product-size{
    margin-left: 0.25rem;
    font-size: 0.75rem;
    font-weight: 700;
    width: 35%;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
span.product-price{
    position: relative;
    left: 45%;
    font-size: 0.75rem;
    color: black;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}