<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <%- include("partials/errors.ejs") %>
      <%- include('partials/navbar.ejs', {links: links}) %>
      <h1 class="home-header">→ Members Only Blogspot</h1>
    </header>
    <main class="message-board">

    </main>
  </body>
</html>
