<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
<body>
  <h1><%= title %></h1>
  <%- include("partials/errors.ejs") %>
  <form action="/create" method="POST">
    <label for="firstName">First Name: </label>
    <input type="text" name="firstName" id="firstName" required>
    <label for="lastName">Last Name: </label>
    <input type="text" name="lastName" id="lastName" required>
    <label for="userEmail">Email: </label>
    <!--For express-validator to work dont use native input types-->
    <input type="text" name="userEmail" id="userEmail" required>
    <label for="userAge">Age: </label>
    <input type="number" name="userAge" id="userAge">
    <label for="userBio">Bio: </label>
    <input type="textarea" name="userBio" id="userBio">
    <button type="submit">Submit</button>
  </form>
  <a href="/">Back to home</a>
</body>
</html>
