* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
    padding: 0.25rem;
}
/*Header*/
nav.not-authenticated {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}
ul.not-authenticated-navbar-list{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}
li.not-authenticated-navbar-entry{
    width:5%;
    margin-inline: 0.25rem;
    list-style: none;
}
li a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
li button {
    background-color: black;
    color: whitesmoke;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 50%;
    width: 100%;
    cursor: pointer;
}
h1.home-header{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline;
}
/*Message Board*/
main.message-board{
    width: 97.5vw;
    height: 77.5vh;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(50%, auto); 
    gap: 0.75rem;
    padding: 0.75rem;
}
.message-bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 2rem;
    padding: 1.5rem;
    background-color: rgb(255, 247, 176);
    overflow-y: auto;
}
.message-bubble>*{
    font-family: system-ui;
    width: 100%;
    display: flex;
}
.message-bubble-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 25%;
    gap: 0.25rem;
}
h3.message-title {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
form.button-only{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: flex-end;
}
.open-message{
    background-color: black;
    color: whitesmoke;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 35%;
    cursor: pointer;
}
h6.message-username-and-email{
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
}
.text-message{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    height: 50%;
    overflow-y: auto;
}
.date-added{
    display: flex;
    align-content: center;
    justify-content: flex-end;
    font-size: 75%;
    height: 10%;
    width: 100%;
}