<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header class="create-user-page">
    <%- include("partials/errors.ejs") %>
    <%- include('partials/navbar2.ejs', {links: adminAuthenticatedLinks}) %>
    <h2 class="page-header">⤴️⤵️ File Uploader - Create User</h2>
  </header>
  <main class="create-user-page">
    <p class="create-user-instructions">
        Admin priveledge to create user of File Uploader website!
    </p>
    <form action="/users/create" method="POST">
        <div class="input-container create-user-input">
          <label for="createUserEmail">Email: </label>
          <input id="createUserEmail" name="createUserEmail" placeholder="Email Address" type="text" />
        </div>
        <div class="input-container create-user-input">
          <label for="createUserUsername">Username: </label>
          <input id="createUserUsername" name="createUserUsername" placeholder="Username" type="text" />
        </div>
        <div class="input-container create-user-input">
          <label for="createUserFirstName">First Name: </label>
          <input id="createUserFirstName" name="createUserFirstName" placeholder="First Name" type="text" />
        </div>
        <div class="input-container create-user-input">
          <label for="createUserLastName">Last Name: </label>
          <input id="createUserLastName" name="createUserLastName" placeholder="Last Name" type="text" />
        </div>
        <div class="input-container create-user-input">
          <label for="createUserPassword">Password: </label>
          <input id="createUserPassword" name="createUserPassword" placeholder="Password" type="password" />
        </div>
        <div class="input-container create-user-input">
          <label for="createUserMemberType">Member Type: </label>
          <select id="createUserMemberType" name="createUserMemberType">
          <option value="" disabled selected>Select Member Type</option>
          <option value="GUEST">Guest</option>
          <option value="USER">User</option>
          <option value="ADMIN">Admin</option>
        </select>
        </div>
        <div class="create-user-submit-button-space">
          <button type="submit" class="create-user-page-submit">Create User</button>
        </div>
    </form>
  </main>
</body>
</html>
