<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header class="register-page">
    <h1 class="page-header">⤴️⤵️ File Uploader</h1>
    <%- include('partials/navbar.ejs', {links: notAuthenticatedLinks}) %>
    <%- include("partials/errors.ejs") %>
  </header>
  <main class="register-page">
    <form class="register-page-button-only" action="/" method="GET">
        <button type="submit" class="register-page-back">Back to Home</button>
    </form>
    <p class="register-instructions">
        Please provide the details below in order to use File Uploader!
    </p>
    <form action="/register" method="POST">
        <div class="input-container register-input">
          <label for="registerEmail">Email: </label>
          <input id="registerEmail" name="registerEmail" placeholder="Email Address" type="text" value="" />
        </div>
        <div class="input-container register-input">
          <label for="registerUsername">Username: </label>
          <input id="registerUsername" name="registerUsername" placeholder="Username" type="text" value="" autocomplete="off"/>
        </div>
        <div class="input-container register-input">
          <label for="registerFirstName">First Name: </label>
          <input id="registerFirstName" name="registerFirstName" placeholder="First Name" type="text" value="" />
        </div>
        <div class="input-container register-input">
          <label for="registerLastName">Last Name: </label>
          <input id="registerLastName" name="registerLastName" placeholder="Last Name" type="text" value="" />
        </div>
        <div class="input-container register-input">
          <label for="registerPassword">Password: </label>
          <input id="registerPassword" name="registerPassword" placeholder="Password" type="password" value="" />
        </div>
        <div class="input-container register-input">
          <label for="registerConfirmPassword">Confirm Password: </label>
          <input id="registerConfirmPassword" name="registerConfirmPassword" placeholder="Confirm Password" type="password" value="" />
        </div>
        <div class="register-submit-button-space">
          <button type="submit" class="register-page-submit">Register</button>
        </div>
    </form>
    <div class="login-instead">
      <form action="/login" method="GET">
        <span>Already have an account?  </span>
        <button class="login-instead" type="submit">Login</button>
      </form>
    </div>
  </main>
</body>
</html>
