* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
    padding: 0.25rem;
}
/*Header*/
nav.not-authenticated,
nav.authenticated {
    width: 100%;
    height: 7.5vh;
    display: flex;
    align-items: center;
}
ul.not-authenticated-navbar-list,
ul.authenticated-navbar-list{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}
li.not-authenticated-navbar-entry{
    width:5%;
    margin-inline: 0.25rem;
    list-style: none;
}
li.authenticated-navbar-entry{
    width: 10%;
    margin-inline: 0.25rem;
    list-style: none;
}
li a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
li button {
    background-color: black;
    color: whitesmoke;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 50%;
    width: 100%;
    cursor: pointer;
}
/* Partials - errors*/
ul.error-list {
    border: 0.125rem solid black;
    background-color: rgb(182, 54, 54);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
}
li.error-list-entry{
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1rem;
    font-weight: 700;
    margin-block: 0.125rem;
    list-style: circle;
}
/* Shared Styles */
h1.page-header{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
div.input-container{
    display: flex;
    width: 75%;
    height: 25%;
}
/* Shared Views */
main.system-error-page{
    width: 97.5vw;
    height: 80vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.error-image-space{
    width: 20%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-right: 0.25rem solid white;
}
div.error-image-space img{
    width: 85%;
    height: 85%;
}
div.error-information-space{
    width: 35%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-left: 0.25rem solid white;
    padding: 1rem;
}
h2.error-status-code{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    position: relative;
    bottom: 25%;
}
p.error-code,
p.error-file{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.125rem;
    text-decoration: underline;
    font-weight: 700;
    position: relative;
    bottom: 15%;
}
p.error-file{
font-size: 0.55rem;
    width: 100%;
    position: relative;
    top: 0.25%;
    display: flex;
    flex-wrap: wrap;
    white-space: pre;
}
p.error-details{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    bottom: 10%;
}
/* Index Page */
h3.index-page-slogan{
    font-style: italic;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(139, 139, 139);
    margin: 0.5rem;
}
main.index-page{
    width: 97.5vw;
    height: 80vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
div.feature-highlights-space{
    width: 40%;
    height: 45%;
    border: 0.5rem double rgb(72, 72, 72);
    padding-block: 0.75rem;
    padding-inline: 1.25rem;
    border-radius: 1rem;
}
h4.feature-highlights-header{
    font-weight: 700;
    border-bottom: 0.25rem dashed black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 50%;
    height: 15%;
    margin: 0.5rem;
}
p.feature{
    width: 100%;
    height: 17.5%;
    border: 2px solid black;
    border-radius: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 0.5rem;
    margin-block: 0.25rem;
}
div.call-to-action-statements-space{
    width: 40%;
    height: 50%;
    border: 0.5rem double rgb(72, 72, 72);
    padding-block: 0.75rem;
    padding-inline: 1.25rem;
    border-radius: 1rem;
}
h4.call-to-action-statement-header{
    font-weight: 700;
    border-bottom: 0.25rem solid black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 25%;
    height: 15%;
    margin-block: 0.5rem;
    display: flex;
}
p.call-to-action-statement{
    width: 100%;
    height: 17.5%;
    border: 2px solid black;
    border-radius: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 0.5rem;
    margin-block: 0.25rem;
}
div.membership-perks-space{
    width: 40%;
    height: 50%;
    border: 0.5rem double rgb(72, 72, 72);
    padding-block: 0.75rem;
    padding-inline: 1.25rem;
    border-radius: 1rem;
}
h4.membership-perks-header{
    font-weight: 700;
    border-bottom: 0.25rem solid black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 75%;
    height: 15%;
    margin-block: 0.5rem;
    display: flex;
}
p.membership-perks-statement{
    width: 100%;
    height: 17.5%;
    border: 2px solid black;
    border-radius: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 0.5rem;
    margin-block: 0.25rem;
}
/* Register Page */
form.register-page-button-only{
    height: 5%;
}
button.register-page-back,
button.register-page-submit,
button.login-instead {
    background-color: black;
    color: whitesmoke;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    width: 10%;
    cursor: pointer;
}
button.register-page-submit{
    height: 100%;
    width: 25%;
}
button.login-instead {
    width: 25%;
    height: 100%;
}
main.register-page{
    width: 97.5vw;
    height: 80vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
p.register-instructions{
    font-style: italic;
    font-size: 1.25rem;
    margin: 0;
    width: 50%;
    height: 10%;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
div.register-input{
    height: 12.5%;
    margin-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}
div.register-input label {
    font-weight: 700;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
}
div.register-input input {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    width: 70%;
    padding: 0.125rem;
}
div.register-submit-button-space{
    height: 10%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
div.login-instead{
    height: 5.5%;
    width: 25%;
    margin-top: 5.5rem;
    margin-left: 2.25rem;
}
div.login-instead form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
div.login-instead form span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    font-style: italic;
    text-decoration: underline;
}
/* Login Page */
form.login-page-button-only{
    height: 5%;
    width: 12.5%;
}
button.login-page-back,
button.login-page-submit,
button.register-instead {
    background-color: black;
    color: whitesmoke;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
button.login-page-back{
    height: 100%;
}
p.login-instructions{
    font-style: italic;
    font-size: 1rem;
    margin: 0;
    width: 50%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
main.login-page{
    width: 97.5vw;
    height: 80vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form.login {
    height: 75%;
    width: 35%;
    border: 0.5rem double white;
    background-color: black;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.login-input {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-block: 0.5rem;
}
div.login-input label {
    font-weight: 700;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    color:rgb(209, 209, 209)
}
div.login-input input {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 50%;
    width: 75%;
    padding: 0.125rem;
}
div.login-submit-button-space{
    height: 10%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 2px solid white;
    border-radius: 1rem;
    margin-top: 1rem;
}
button.login-page-submit{
    background-color: azure;
    color: black;
    border-radius: 0.85rem;
}
div.register-instead{
    width: 35%;
    height: 15%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.register-instead form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.register-instead form span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    font-style: italic;
    text-decoration: underline;
    margin: 0.5rem;
    height: 40%;
}
button.register-instead {
    width: 40%;
}
/* Upload File Page */
form.fileUpload-page-button-only{
    height: 5%;
    width: 12.5%;
}
button.fileUpload-page-back,
button.fileUpload-page-submit,
button.register-instead {
    background-color: black;
    color: whitesmoke;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
button.fileUpload-page-back{
    height: 100%;
}
p.fileUpload-instructions{
    font-style: italic;
    font-size: 1rem;
    margin: 0;
    width: 50%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
main.fileUpload-page{
    width: 97.5vw;
    height: 80vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form.fileUpload {
    height: 75%;
    width: 35%;
    border: 0.5rem double white;
    background-color: black;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.fileUpload-input {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-block: 0.5rem;
}
div.fileUpload-input label {
    font-weight: 700;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    color:rgb(209, 209, 209)
}
div.fileUpload-input input {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 50%;
    width: 100%;
    padding: 0.125rem 0.25rem;
    display: inline-block;
    background-color: #657e9a;
    color: white;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
div.fileUpload-input input#folderName {
    cursor: text;
}
div.fileUpload-input input:hover {
  background-color: #3d4c5e;
}
div.fileUpload-input input::placeholder {
  color: #ffffff;
}
div.fileUpload-submit-button-space{
    height: 10%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 2px solid white;
    border-radius: 1rem;
    margin-top: 1rem;
}
button.fileUpload-page-submit{
    background-color: azure;
    color: black;
    border-radius: 0.85rem;
}
/* Logged User Files */
main.logged-user-files{
    width: 97.5vw;
    height: 77.5vh;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 0.75rem;
    gap: 0.5rem;
}
p.no-loggedin-user-files{
    font-weight: 700;
    font-size: 1rem;
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
/* File Entry */
div.file-entry{
    width: 95%;
    height: 100%;
    border: 0.5rem double black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h3.file-entry-title{
    text-decoration: underline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 12.5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h6.file-entry-size-and-type{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.5%;
    width: 100%;
}
div.file-entry-button-space{
    width: 10rem;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}
div.file-entry-button-space form {
    margin-block: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
p.file-entry-date-uploaded,
p.file-entry-folder{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    white-space: pre;
}
p.file-entry-folder{
    font-size: 1.25rem;
}
button.open-file,
button.delete-file,
button.download-file{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
}
button.open-file span.view-text,
button.open-file span.view-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
button.open-file span.view-text{
    font-size: 1rem;
}
button.open-file span.view-icon{
    font-size: 5rem;
}
/* File container for view */
main.view-file{
    width: 97.5vw;
    height: 77.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.file-view-entry{
    width: 35%;
    height: 85%;
    border: 0.5rem double black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.file-view-entry-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
}
h3.file-view-entry-title{
    text-decoration: underline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 12.5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h6.file-view-entry-size-and-type{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.5%;
    width: 100%;
}
div.file-view-entry-button-space{
    width: 10rem;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}
div.file-view-entry-button-space form {
    margin-block: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}
div.file-view-entry-button-space form button{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
p.file-view-entry-date-uploaded,
p.file-view-entry-folder{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    white-space: pre;
}
p.file-view-entry-folder{
    font-size: 1.25rem;
}
span.download-file-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 5rem;
}