<nav class="navbar">
    <ul class="navbar-list">
      <% for (let i = 0; i < links.length; i++) { %>
        <li class="navbar-entry">
          <a class="navbar-entry-link" href="<%= links[i].href %>">
            <span> <%= links[i].text %> </span>
          </a>
        </li>
      <% } %>
    </ul>
  </nav>
  