<% if (locals.errors && locals.errors.length > 0) { %>
  <ul class="error-list">
    <% locals.errors.forEach(function(error) { %>
      <li class="error-list-entry">→ <%= error.msg %></li>
    <% }); %>
  </ul>
<% } %>