<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <%- include("partials/errors.ejs") %>
    <%- include('navbar', {links: links}) %>
    <div class="posted-message-space">
      <% data.forEach((entry) => { %>
        <%- include('message_bubble', {message: entry.message, user: entry.user, date: entry.time, email: entry.email, id: entry.message_id}); %>
      <% }); %>
    </div>
    <script src="/listener.js" defer></script>
  </body>
</html>
