<div class="message-bubble">
    <div class="message-bubble-header">
        <h3 class="username"><%= user %></h3>
    </div>    
    <p class="text-message"><%= text %></p>
    <p class="date-added">Date added: <%= date %></p>
</div>