<!-- navbar.ejs -->
<nav>
    <ul class="navbar-list">
      <% for (let i = 0; i < links.length; i++) { %>
        <li class="navbar-entry">
          <a href="<%= links[i].href %>">
            <span> <%= links[i].text %> </span>
          </a>
        </li>
      <% } %>
    </ul>
  </nav>
  