<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('navbar', {links: links}) %>
    <div>
      <% messages.forEach((message) => { %>
        <%- include('message_bubble', {text: message.text, user: message.user, date: message.added}); %>
      <% }); %>
    </div>
  </body>
</html>
