<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
        <button type="button">
            <a href="/">
            <span> Back </span>
          </a>
        </button>
        <%- include('message_bubble', {user: message.user, text: message.text, date: message.date }) %>
    </form>
  </body>
</html>