<nav class="not-authenticated">
    <ul class="not-authenticated-navbar-list">
      <% for (let i = 0; i < links.length; i++) { %>
        <li class="not-authenticated-navbar-entry">
          <a href="<%= links[i].href %>">
            <button> <%= links[i].text %> </button>
          </a>
        </li>
      <% } %>
    </ul>
  </nav>
  